body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ccc;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}

section {
  margin: 2em 0;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  background: linear-gradient(45deg, #333, #444);
  color: #fff;
}

.job {
  margin-bottom: 30px;
}

.degree {
  margin-bottom: 30px;
}

h2 {
  color: #1a1a1a;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #1a1a1a;
  color: #fff;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#language-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
}

#language-buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#language-buttons button:hover {
  background-color: #555;
}

section a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}

section a:hover {
  text-decoration: underline;
}

@keyframes animatedBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  
  background: linear-gradient(-45deg, #222, #333, #444, #555);
  background-size: 400% 400%;
  animation: animatedBackground 15s infinite;
}
#profile-picture {
  width: 123px;
  border-radius: 25%;  
}